[submodule "html5-demos.appspot.com/static/filesystem/filer.js"]
	path = html5-demos.appspot.com/static/filesystem/filer.js
	url = git@github.com:ebidel/filer.js.git
[submodule "html5-demos.appspot.com/static/filesystem/idb.filesystem.js"]
	path = html5-demos.appspot.com/static/filesystem/idb.filesystem.js
	url = git@github.com:ebidel/idb.filesystem.js.git
