<element name="tabs" extends="article" constructor="TabsController">
  <template>
    <style> <!-- NOTE: this is not scoped because :host selector isn't implemented yet -->
      @import url(css/tabs-shared.css);
    </style>
    <style>
      @import url(css/tabs.css);
    </style>
    <div id="container">
      <div class="tab-strip">
        <aside>Web Component</aside>
        <div class="tab-wrapper">
          <content select="h2"></content>
        </div>
      </div>
      <div class="contents">
        <content class="current" select="section:nth-of-type(1)"></content>
      </div>
    </div>
  </template>
  <script>
    if (this !== window) {
      var root = null;
      var container = null;

      TabsController.prototype = {
        indexOf: function(el) {
          return [].slice.call(container.querySelector('.tab-wrapper content').getDistributedNodes()).indexOf(el);
        },
        onClickTab: function(e) {
          if (e.target.nodeName == 'H2') {
            var index = this.indexOf(e.target) + 1;
            root.querySelector('content.current').select = 'section:nth-of-type(' + index + ')';

            //var els = container.querySelectorAll(e.target.nodeName.toLowerCase());
            var els = container.querySelector('.tab-wrapper content').getDistributedNodes();
            [].slice.call(els).forEach(function(el, i) {
              el.classList.remove('active');
            });
            e.target.classList.add('active');
          }
        }
      };

      this.lifecycle({
        created: function(shadowRoot) {
          root = shadowRoot;
          container = root.querySelector('#container');
          this.addEventListener('click', this.onClickTab.bind(this));
          // Probably not the best way to do this.
          container.querySelector('.tab-wrapper content').getDistributedNodes()[0].click(); // Select first tab 
        },
        inserted: function(root) {

        },
        removed: function() {

        }
      });
    }
  </script>
</element>
