<!--
Google IO 2012 HTML5 Slide Template

Authors: Eric Bidelman <ebidel@gmail.com>
         Luke Mahe <lukem@google.com>

URL: https://code.google.com/p/io-2012-slides
-->
<!DOCTYPE html>
<html>
<head>
  <title>Google IO 2012</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--This one seems to work all the time, but really small on ipad-->
  <!--<meta name="viewport" content="initial-scale=0.4">-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="theme/css/default.css">
  <link rel="stylesheet" media="all" href="theme/css/app.css">
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="theme/css/phone.css">
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
  <script data-main="js/slides" src="js/require-1.0.8.min.js"></script>
  <script src="demos/components/web_components_polyfill/src/components-polyfill.js"></script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

<!-- <slide class="logoslide nobackground">
  <article class="flexbox vcenter">
    <span><img src="images/google_developers_logo.png"></span>
  </article>
</slide> -->

<slide class="title-slide segue nobackground">
  <aside class="gdbar"><img src="images/logos/webcomponents.png"></aside>
  <!-- The content of this hgroup is replaced programmatically through the slide_config.json. -->
  <hgroup class="auto-fadein">
    <h1 data-config-title><!-- populated from slide_config.json --></h1>
    <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
    <p data-config-presenter><!-- populated from slide_config.json --></p>
  </hgroup>
</slide>


<slide id="feature-detect"  >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>To view the demos in this presentation</h2>
      <h3></h3>
    </hgroup>
    <article ><ol>
<li>Use Chrome Canary</li>
<li>Enable yourself:<ul>
<li><strong>Enable experimental WebKit features</strong> in <code>about:flags</code></li>
<li><strong>Enable experimental JavaScript</strong> in <code>about:flags</code></li>
<li><strong>Enable Show Shadow DOM</strong> in DevTools</li>
</ul>
</li>
</ol>
<p id="need-shadow" class="topmargin"><label></label><span>You don't have Shadow DOM enabled</span></p>

<p id="need-objectobserve"><label></label><span>You don't have Object.observe()</span></p>

<p id="need-mo"><label></label><span>You don't have MutationObservers</span></p>

<script>
(function() {
var needShadow = document.querySelector('#need-shadow');
var needObjectObserve = document.querySelector('#need-objectobserve');
var needMo = document.querySelector('#need-mo');

if (!!!('createShadowRoot' in document.createElement('div'))) {
    needShadow.classList.add('red');
    needShadow.firstElementChild.classList.add('bad');
    needShadow.lastElementChild.textContent = "You don't have Shadow DOM enabled";

    // Hide live demos.
    document.addEventListener('DOMContentLoaded', function(e) {
        [].forEach.call(document.querySelectorAll('.host'), function(el) {
            el.hidden = true;
        });
    });
} else {
    needShadow.classList.add('green');
    needShadow.firstElementChild.classList.add('good');
    needShadow.lastElementChild.textContent = 'Shadow DOM enabled';
}

if (!!!Object.observe) {
  needObjectObserve.classList.add('red');
    needObjectObserve.firstElementChild.classList.add('bad');
    needObjectObserve.lastElementChild.textContent = "You don't have Object.observe()";
} else {
    needObjectObserve.classList.add('green');
    needObjectObserve.firstElementChild.classList.add('good');
    needObjectObserve.lastElementChild.textContent = "Object.observe() available";
}

if (!!!(window.WebKitMutationObserver || window.MutationObserver)) {
  needMo.classList.add('red');
    needMo.firstElementChild.classList.add('bad');
    needMo.lastElementChild.textContent = "You don't have MutationObservers";
} else {
    needMo.classList.add('green');
    needMo.firstElementChild.classList.add('good');
    needMo.lastElementChild.textContent = "MutationObservers available";
}
})();
</script></article>
 
</slide>

<slide id="who"  >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Who is this guy?</h2>
      <h3></h3>
    </hgroup>
    <article ><p><span class="build"><p class="avatar rounded"></p></span></p>
<p>Eric Bidelman - <img src="images/logos/google_logo.png" style="height: 30px;margin: 0;"> <img src="images/logos/chrome_logo.png" style="height:27px;margin:0;vertical-align: top;"> Team</p>

<p style="margin-top:2em;">
  <a rel="author" href="http://plus.ericbidelman.com">
    <img src="http://www.google.com/images/icons/ui/gprofile_button-44.png" width="44" height="44"></a> <a rel="author" href="http://plus.ericbidelman.com">plus.ericbidelman.com</a>
</p>

<p>
  <a rel="author" style="margin-left:-8px;" href="http://twitter.com/ebidel">
    <img src="images/logos/twitter_newbird_blue.png" width="58" height="58"></a> <a rel="author" href="http://twitter.com/ebidel" style="margin-left:-5px;">@ebidel</a>
</p>

<p><a rel="author" href="http://www.ericbidelman.com">ericbidelman.com</a></p>
<p><a href="http://html5rocks.com">html5rocks.com</a></p>
<p>O'Reilly book - "<a href="http://www.amazon.com/Using-HTML5-Filesystem-Eric-Bidelman/dp/1449309453">Using the HTML5 Filesystem API</a>"</p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered"><h2 class="auto-fadein">Web components?</h2></article>
 
</slide>

<slide  class="nobackground fill highlight" style="background-image: url(images/bgs/plus-widget.jpg)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Embedded widgets</h2>
      <h3></h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide  class="nobackground fill highlight" style="background-image: url(images/bgs/widget-library.jpg)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Reusable libraries / frameworks</h2>
      <h3></h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide id="b2tf" class="nobackground fill" style="background-image: url(images/bgs/b2tf.jpg)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>We're going "Back to the Future"</h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered auto-fadein"><div class="build">
<p>A <b>tectonic shift</b> for web development</p>

<p>Important <b>new constructs</b> for building complex web apps</p>

<p><em>"Declarative Renaissance"</em></p>
</div></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Once upon a time...</h2>
      <h3>HTML5 had to define it's identity</h3>
    </hgroup>
    <article ><p>Not everyone <s>agrees</s> agreed.</p>
<ul>
<li><a href="http://jeffcroft.com/blog/2010/aug/02/term-html5/">jeffcroft.com/blog/2010/aug/02/term-html5/</a><ul>
<li><a href="http://paulirish.com/html5istherightname.html">paulirish.com/html5istherightname.html</a></li>
</ul>
</li>
<li><a href="http://isgeolocationpartofhtml5.com">isgeolocationpartofhtml5.com</a></li>
</ul>
<p class="centered topmargin">Web Components have the same identity crisis.</p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Defining Web Components</h2>
      <h3>key players</h3>
    </hgroup>
    <article ><ul class="build">
<li><code>&lt;template&gt;</code> - <em>Scaffold/Blueprint</em><ul class="build">
<li>inert chunks of clonable DOM. Can be activated for later use (e.g MDV)</li>
</ul>
</li>
<li>Custom elements - <em>Toolbelt</em><ul class="build">
<li>create new HTML elements - expand HTML's existing vocabulary.</li>
<li>extend existing DOM objects with new imperative APIs</li>
</ul>
</li>
<li>Shadow DOM - <em>Mortar/glue</em><ul class="build">
<li>building blocks for encapsulation &amp; boundaries inside of DOM</li>
</ul>
</li>
</ul></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Defining Web Components</h2>
      <h3>supporting cast</h3>
    </hgroup>
    <article ><ul class="build">
<li>Style encapsulation</li>
<li>Knowledge into app's state<ul class="build">
<li>DOM changes: <code>MutationObserver</code></li>
<li>Model changes: <code>Object.observer()</code></li>
</ul>
</li>
<li>CSS variables, <code>calc()</code></li>
</ul>
<p class="centered topmargin build">
  <span><em>A collection new capabilities in the browser</em></span>
</p></article>
 
</slide>

<slide  class="nobackground funnyimage" style="background-image: url(images/animated/dog.gif)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Get</h2>
      <h3>ready!</h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide id="template-segue" class="segue nobackground highlight fill" style="background-image: url(images/bgs/drinksblueprint.jpg)">
  
    <aside class="gdbar"><img src="images/logos/chrome_logo.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Templates</h2>
      <h3>scaffold / blueprint</h3>
    </hgroup>
  
</slide>

<slide  class="nobackground funnyimage notnewconcept" style="background-image: url(images/animated/shock.gif)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Templates...</h2>
      <h3>not<br> a new concept</h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2><img src="images/icons/calendar.png"> The templates of today</h2>
      <h3></h3>
    </hgroup>
    <article ><p><em>Method #1</em>: "offscreen" DOM using <code>[hidden]</code> or <code>display:none</code></p>
<pre class="prettyprint" data-lang="html">
&lt;div id="mytemplate" hidden>
  &lt;img src="logo.png">
  &lt;div class="comment">&lt;/div>
&lt;/div>
</pre>

<ol class="build">
<li><label class="good"></label> We're working directly w/ DOM. </li>
<li><label class="bad"></label> Resources are still loaded (e.g. that <code>&lt;img&gt;</code>)</li>
<li><label class="bad"></label> Other side-effects like URLs not being fully composed yet.</li>
<li><label class="bad"></label> Style and theming is painful.<ul class="build">
<li>embedding page must scope all its CSS to <code>#mytemplate</code>.</li>
<li>no guarantees on future naming collisions.</li>
</ul>
</li>
</ol></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2><img src="images/icons/calendar.png" alt="Today" title="Today"> The templates of today</h2>
      <h3></h3>
    </hgroup>
    <article ><p><em>Method #2</em>: manipulating markup as string. Overload <code>&lt;script&gt;</code>:</p>
<pre class="prettyprint" data-lang="js">
&lt;script id="mytemplate" <b>type="text/x-handlebars-template"</b>>
  &lt;img src="logo.png">
  &lt;div class="comment">&lt;/div>
&lt;/script>
</pre>

<ol>
<li><label class="bad"></label> encourages run-time string parsing (via <code>.innerHTML</code>)<ul>
<li>may include user-supplied data &rarr; XSS attacks.</li>
</ul>
</li>
</ol>
<p class="topmargin"></p>

<p>Examples: <a href="http://handlebarsjs.com/">handlebars.js</a>, John Resig's <a href="http://ejohn.org/blog/javascript-micro-templating/">micro-template script</a></p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
          <a href="https://bugs.webkit.org/show_bug.cgi?id=86031" target="_blank" class="bug" title="Bug link"></a>
        
        
          <a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/templates/index.html" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2><img src="images/icons/clock.png" alt="Tomorrow" title="Tomorrow"> Templating of the near future</h2>
      <h3><code>&lt;template&gt;</code></h3>
    </hgroup>
    <article ><p>Contains inert markup intended to be used later:</p>
<pre class="prettyprint" data-lang="html">
&lt;template id="mytemplate">
  &lt;img src="">
  &lt;div class="comment">&lt;/div>
&lt;/template>
</pre>

<ol>
<li><label class="good"></label> We're working directly w/ DOM again. </li>
<li><label class="good"></label> Parsed, not rendered<ul>
<li><code>&lt;script&gt;</code>s don't run, images aren't loaded, media doesn't play, etc.</li>
</ul>
</li>
</ol></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2><img src="images/icons/clock.png"> Templating of the near future</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Appending inert DOM to a node makes it go "live":</li>
</ul>
<pre class="prettyprint" data-lang="js">
var t = document.querySelector('#mytemplate');
t.querySelector('img').src = 'http://...';
document.body.appendChild(<b>t.content.cloneNode()</b>);
</pre>

<div class="build">

<div>
<code>.content</code> provides access to the <code>&lt;template&gt;</code>'s guts:</p>

<pre class="prettyprint" data-lang="interface">
interface HTMLTemplateElement : HTMLElement {
  attribute DocumentFragment content;
}
</pre>
</div>

</div></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered"><h2 class="auto-fadein">Templates</h2>

<h3 class="auto-fadein">baked into the web platform...</h3></article>
 
</slide>

<slide  class="nobackground dirty-sexy funnyimage" style="background-image: url(images/animated/dirty-sexy-money.gif)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3>$$$</h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide id="shadow-dom-segue" class="segue nobackground highlight fill" style="background-image: url(images/bgs/blocks.jpg)">
  
    <aside class="gdbar"><img src="images/logos/chrome_logo.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Shadow DOM</h2>
      <h3>mortar / glue</h3>
    </hgroup>
  
</slide>

<slide  class="nobackground funnyimage notnewconcept" style="background-image: url(images/animated/shock.gif)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Encapsulation...</h2>
      <h3>not<br> a new concept</h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Encapsulation</h2>
      <h3></h3>
    </hgroup>
    <article ><div class="build">

<p><label class="good"></label> Fundamental foundation of OOP</p>

<p><label class="good"></label> Separates code <em>you</em> wrote from the code that will <em>consume</em> it</p>

<p><label class="bad"></label> We don't have it on the web!</p>

<p><label class="sortof"></label> Well, sort of:</p>

<h2 class="centered"><code>&lt;iframe&gt;</code></h2>

<p class="topmargin"><label class="bad"></label> <code>&lt;iframe&gt;</code> are heavy and restrictive</p>

</div></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
          <a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Shadow DOM</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Is complex! Let's cover the basics:</p>
<ul>
<li>Concept of Shadow DOM</li>
<li>Creating Shadow DOM</li>
<li>Insertion Points</li>
<li>Styling<ul>
<li>encapsulated styles &amp; shadow boundaries</li>
<li>styling hooks: custom pseudo elements</li>
<li><code>@host</code> at-rule</li>
</ul>
</li>
</ul></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Turns out...</h2>
      <h3></h3>
    </hgroup>
    <article ><ul class="build">
<li>DOM nodes can already "host" hidden DOM.</li>
<li>It can't be accessed traversing the DOM.</li>
</ul>
<div class="build shadowvideo">
<video controls height="300" src="http://www.ioncannon.net/examples/vp8-webm/big_buck_bunny_480p.webm"></video>
<p style="float:left;margin-left: 1em;">
<input type="date" style="zoom:2"><br>
<input type="time" style="zoom:2">
</p>
</div>

<p class="centered build" style="font-size:40px;"><span>So...browser vendor's have been holding out on us!</span></p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered defintion"><h2 class="auto-fadein">Shadow DOM</h2>

<h3 class="auto-fadein">exposes the same internals browser
vendors have been using to implement their native controls, to us</h3></article>
 
</slide>

<slide id="shadow-dom-host"  >
  
    <hgroup>
      <span>
        
        
          <a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Attaching Shadow DOM to a host</h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered"><p><img src="images/shadow/shadow-trees.svg" style="height: 100%;"></p></article>
 
</slide>

<slide id="shadow-dom-render"  >
  
    <hgroup>
      <span>
        
        
          <a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Shadow tree is rendered instead</h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered"><p><img src="images/shadow/shadow-rendering.svg" style="height:100%;"></p>
<div class="devtools" title="click me" alt="click me"></div></article>
 
</slide>

<slide id="shadow-dom-creating"  >
  
    <hgroup>
      <span>
        
        
          <a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html#extensions-to-element" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Creating Shadow DOM</h2>
      <h3></h3>
    </hgroup>
    <article ><aside class="note">
  <section>
    <img src="images/shadow/shadow-rendering.svg" style="width: 100%;">
  </section>
</aside>

<pre class="prettyprint" data-lang="html">
&lt;div id="host">
  &lt;h1>My Title&lt;/h1>
  &lt;h2>My Subtitle&lt;/h2>
  &lt;div>...other content...&lt;/div>
&lt;/div>
</pre>

<pre class="prettyprint" data-lang="js">
var host = document.querySelector('#host');
<b>var shadow = host.createShadowRoot();</b>
<b>shadow.innerHTML = '&lt;h2>Yo, you got replaced!&lt;/h2>' +
                   '&lt;div>by my awesome content&lt;/div>';</b>
</pre>

<!-- <b>var shadow = new <a data-tooltip-property="ShadowRoot" data-tooltip-support='["webkit"]' data-tooltip-js>ShadowRoot</a>(host);</b> -->

<div class="host">
  <h1>My Title</h1>
  <h2>My Subtitle</h2>
  <div>...other content...</div>
</div>

<script>
(function() {
var shadow = document.querySelector('#shadow-dom-creating .host').createShadowRoot();
shadow.innerHTML = '<h2>Yo, you got replaced!</h2>' +
                   '<div>by my awesome content</div>';
})();
</script></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered unstyled"><h2 class="auto-fadein">So....<br>unstyled markup is not sexy</h2></article>
 
</slide>

<slide id="shadow-dom-style-encapsulation"  >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Style encapsulation</h2>
      <h3></h3>
    </hgroup>
    <article ><aside class="note">
  <section>
    <img src="images/shadow/shadow-rendering.svg" style="width: 100%;">
  </section>
</aside>

<p><code>&lt;style&gt;</code>s defined in <code>ShadowRoot</code> are scoped.</p>
<pre class="prettyprint" data-lang="js">
var shadow = document.querySelector('#host').createShadowRoot();
shadow.innerHTML = '<b>&lt;style>h2 { color: red; }&lt;/style></b>' + 
                   '&lt;h2>Yo, you got replaced!&lt;/h2>' + 
                   '&lt;div>by my awesome content&lt;/div>';
</pre>

<div class="host">
  <h1>My Title</h1>
  <h2>My Subtitle</h2>
  <div>...other content...</div>
</div>

<script>
(function() {
var shadow = document.querySelector('#shadow-dom-style-encapsulation .host').createShadowRoot();
shadow.innerHTML = '<style>h2 { color: red;}</style>' + 
                   '<h2>Yo, you got replaced!</h2>' + 
                   '<div>by my awesome content</div>';

})();
</script></article>
 
</slide>

<slide id="shadow-style-control"  >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Protection from pesky outside styles</h2>
      <h3></h3>
    </hgroup>
    <article class="smaller"><aside class="note">
  <section>
    <img src="images/shadow/shadow-rendering.svg" style="width: 100%;">
  </section>
</aside>

<p>Author's styles don't cross shadow boundary by default, but have full control.</p>
<pre class="prettyprint" data-lang="js">
var shadow = document.querySelector('#host').createShadowRoot();
shadow.innerHTML = '&lt;style>h2 { color: red; }&lt;/style>' + 
                   '&lt;h2>Yo, you got replaced!&lt;/h2>' + 
                   '&lt;div>by my awesome content&lt;/div>';

<b data-action-resetstyleinheritance title="click me">// shadow.resetStyleInheritance = true;</b> // click me
<b data-action-applyauthorstyles title="click me">// shadow.applyAuthorStyles = true;</b> // click me
</pre>

<div class="host" style="margin-bottom:1em;">
  <h1>My Title</h1>
  <h2>My Subtitle</h2>
  <div>...other content...</div>
</div>

<ul>
<li><code>.resetStyleInheritance</code><ul>
<li><code>false</code> - (default) inheritable CSS properties continue to inherit.</li>
<li><code>true</code> - resets properties to <code>initial</code> at the shadow boundary.</li>
</ul>
</li>
<li><code>.applyAuthorStyles</code><ul>
<li><code>true</code> to allow author's styles to "bleed" across shadow boundary. Default is <code>false</code>.</li>
</ul>
</li>
</ul>
<script>
(function() {
var shadow = document.querySelector('#shadow-style-control .host').createShadowRoot();
// See crbug.com/162517 - !important needed for some reason.
shadow.innerHTML = '<style>h2 { color: red !important;}</style>' + 
                   '<h2>Yo, you got replaced!</h2>' + 
                   '<div>by my awesome content</div>';

var resetStyles = document.querySelector('#shadow-style-control [data-action-resetstyleinheritance]');
resetStyles.addEventListener('click', function(e) {
  shadow.resetStyleInheritance = !shadow.resetStyleInheritance;
  this.textContent = 'shadow.resetStyleInheritance = ' + shadow.resetStyleInheritance.toString() + ';';
});
var applyAuthorStyles = document.querySelector('#shadow-style-control [data-action-applyauthorstyles]');
applyAuthorStyles.addEventListener('click', function(e) {
  shadow.applyAuthorStyles = !shadow.applyAuthorStyles;
  this.textContent = 'shadow.applyAuthorStyles = ' + shadow.applyAuthorStyles.toString() + ';';
});

})();
</script></article>
 
</slide>

<slide id="shadow-host-at"  >
  
    <hgroup>
      <span>
        
        
          <a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html#host-at-rule" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Styling the host element (<code>@host</code> at-rule)</h2>
      <h3></h3>
    </hgroup>
    <article class="smaller"><ul>
<li><code>@host</code> selects the shadow host element.</li>
<li>Allows reacting to different states:</li>
</ul>
<pre class="prettyprint" data-lang="css">
&lt;style>
<b>@host</b> {
  /* Gotcha: higher specificity than any selector,
     lower specificity than declarations from a &lt;style&gt; attribute. */
  * {
    opacity: 0.2;
    <a data-tooltip-property="transition" data-tooltip-support='["webkit", "moz", "ms", "o", "unprefixed"]'>transition</a>: opacity 400ms ease-in-out;
  }
  *:hover {
    opacity: 1;
  }
}
&lt;/style>
</pre>

<div class="host">
  <h1>My Title</h1>
  <h2>My Subtitle</h2>
  <div>...other content...</div>
</div>

<script>
(function() {
var shadow = document.querySelector('#shadow-host-at .host').createShadowRoot();
shadow.innerHTML = '<style>h2 { color: red;}' +
'@host {\
  * {\
    opacity: 0.2;\
    -webkit-transition: opacity 400ms ease-in-out;\
  }\
  *:hover {\
    opacity: 1;\
  }\
}</style>' + 
'<h2>Yo, you got replaced!</h2>' + 
'<div>by my awesome content</div>';

})();
</script></article>
 
</slide>

<slide id="pseduo-element-styling"  >
  
    <hgroup>
      <span>
        
        
          <a href="https://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html#custom-pseudo-elements" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Custom pseudo elements</h2>
      <h3></h3>
    </hgroup>
    <article ><aside class="note notnewconcept funnyimage">
  <section>
    <h2>Custom pseudo elements...</h3>
    <img src="images/animated/shock.gif" style="width: 100%;">
    <h3>Not<br>a new concept</h3>
  </section>
</aside>

<p class="input-list centered">
<input type="range">
</p>

<div class="build">
<pre class="prettyprint" data-lang="css">
input[type=range].custom {
  -webkit-appearance: none;
  background-color: red;
}
input[type=range].custom<b>::-webkit-slider-thumb</b> {
  -webkit-appearance: none;
  background-color: blue;
  width: 10px;
  height: 40px;
}
</pre>

<p class="build input-list centered">
<span><input type="range" class="custom"></span>
<span><input type="range" class="custom bling"></span>
</p>
</div>

<p>List of pseudo elements: <a href="http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css?format=txt">WebKit</a>, <a href="https://developer.mozilla.org/en-US/docs/CSS/CSS_Reference/Mozilla_Extensions#Pseudo-elements_and_pseudo-classes">FF</a></p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Style hooks with custom pseudo elements</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Widget author can designate certain elements be styleable by outsiders.</p>
<pre class="prettyprint" data-lang="html">
&lt;style>
  #host<b>::x-slider-thumb</b> {
    background-color: blue;
  }
&lt;/style>
&lt;div id="host">&lt;/div>
&lt;script>
document.querySelector('#host').createShadowRoot().innerHTML = '&lt;div>' +
  '&lt;div <b>pseudo="x-slider-thumb"</b>>&lt;/div>' + 
'&lt;/div>';
&lt;/script>
</pre>

<ul>
<li><em>Note</em>: name needs to be prefixed with "<code>x-</code>"<ul>
<li>string name creates association with element in shadow tree</li>
</ul>
</li>
<li>Can't access these elements from outside JS, but can style them!</li>
</ul></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
          <a href="http://dev.w3.org/csswg/css-variables/" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Style hooks using CSS Variables</h2>
      <h3>theming</h3>
    </hgroup>
    <article ><p>Widget <strong>author</strong> includes variable placeholders:</p>
<pre class="prettyprint" data-lang="shadow dom css">
button {
  color: <a data-tooltip-property="var" data-tooltip-support='["webkit", "unprefixed"]'>var</a>(button-text-color);
  font: <a data-tooltip-property="var" data-tooltip-support='["webkit", "unprefixed"]'>var</a>(button-font);
}
</pre>

<p>Widget <strong>embedder</strong> applies styles to the element:</p>
<pre class="prettyprint" data-lang="css">
#host {
  <b><a data-tooltip-property="var" data-tooltip-support='["webkit", "unprefixed"]'>var</a>-button-text-color</b>: green;
  <b><a data-tooltip-property="var" data-tooltip-support='["webkit", "unprefixed"]'>var</a>-button-font</b>: "Comic Sans MS", "Comic Sans", cursive;
}
</pre>

<p class="centered">
<a href="demos/page.html" class="demo">DEMO</a>
</p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Remember our host node</h2>
      <h3></h3>
    </hgroup>
    <article ><pre class="prettyprint" data-lang="html">
&lt;div id="host">
  &lt;h1>My Title&lt;/h1>
  &lt;h2>My Subtitle&lt;/h2>
  &lt;div>...other content...&lt;/div>
&lt;/div>
</pre>

<p>that guy rendered as:</p>
<pre class="prettyprint" data-lang="html">
&lt;div id="host">
  <span style="opacity:0.5">#shadow-root</span>
    &lt;style>h2 {color: red;}&lt;/style>
    &lt;h2>Yo, you got replaced!&lt;/h2>
    &lt;div>by my awesome content&lt;/div>
&lt;/div>
</pre>

<p>...everything was replaced when we attached the shadow DOM <label class="bad"></label></p></article>
 
</slide>

<slide id="insertion-points2"  >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Shadow DOM insertion points</h2>
      <h3>funnels for host's children</h3>
    </hgroup>
    <article class="flexbox vcenter centered build"><div class="auto-fadein"></div></article>
 
</slide>

<slide id="shadow-dom-insertion-pts-example"  >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Shadow DOM insertion points</h2>
      <h3>funnels for host's children</h3>
    </hgroup>
    <article class="smaller"><ul>
<li><code>&lt;content&gt;</code> elements are insertion points.</li>
<li><code>select</code> attribute uses CSS selectors to specify where children are funneled.</li>
<li><code>content.getDistributedNodes()</code> returns list of element distributed in the insertion point.</li>
</ul>
<div class="columns-2">
<pre class="prettyprint" data-lang="host">
&lt;div id="host"&gt;
  &lt;h1&gt;My Title&lt;/h1&gt;
  &lt;h2&gt;My Subtitle&lt;/h2&gt;
  &lt;div&gt;...other content...&lt;/div&gt;
&lt;/div&gt;
</pre>

<pre class="prettyprint" data-lang="Shadow DOM" style="-webkit-column-break-before: always;">
&lt;style>
  h2 {color: red;}
&lt;/style>
&lt;hgroup>
  <b>&lt;content select="h2">&lt;/content&gt;</b>
  &lt;div&gt;You got enhanced&lt;/div&gt;
  <b>&lt;content select="h1:first-child">&lt;/content&gt;</b>
&lt;/hgroup>
<b>&lt;content select="*">&lt;/content&gt;</b>
</pre>
</div>

<div class="host">
  <h1>My Title</h1>
  <h2>My Subtitle</h2>
  <div>...other content...</div>
</div>

<script>
(function() {
var shadow = document.querySelector('#shadow-dom-insertion-pts-example .host').createShadowRoot();
shadow.innerHTML = '<style>\
h2 { color: red;}\
</style>\
<hgroup>\
  <content select="h2"></content>\
  <div>You got enhanced</div>\
  <content select="h1:first-child"></content>\
</hgroup>\
<content select="*"></content>';
})();
</script></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered defintion"><h2 class="auto-fadein">Insertion Points</h2>

<h3 class="auto-fadein">allow us to define a declarative API</h3></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered"><h2 class="auto-fadein">Encapsulation / Boundaries / Re-usability</h2>

<h3 class="auto-fadein">baked into the web platform...</h3></article>
 
</slide>

<slide  class="nobackground funnyimage" style="background-image: url(images/animated/irish-flick.gif)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Cha-</h2>
      <h3>ching!</h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide id="mutation-segue" class="segue nobackground highlight fill" style="background-image: url(images/bgs/mutation.jpg)">
  
    <aside class="gdbar"><img src="images/logos/chrome_logo.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Observing Changes</h2>
      <h3>Mutation Observers / Object.observe()</h3>
    </hgroup>
  
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
          <a href="http://www.w3.org/TR/domcore/#mutation-observers" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Mutation Observers</h2>
      <h3>watch for changes in the DOM</h3>
    </hgroup>
    <article ><ul class="build">
<li>Defined in <a href="http://www.w3.org/TR/domcore/#mutation-observers">DOM4</a> ( Yep. We're on DOM4! )</li>
<li>Observers, not listeners<ul class="build">
<li>triggered by DOM changes rather than events (e.g. <code>oninput</code>, <code>click</code>)</li>
</ul>
</li>
<li>Callback triggered at the end of DOM modifications.<ul class="build">
<li>provided a list of all changes (<code>MutationRecord</code>s)</li>
</ul>
</li>
<li>Replacement for <code>MutationEvent</code> performance / stability bottlenecks.</li>
<li>Availability: Chrome, Safari, FF</li>
<li><em>Who?</em> JS Framework authors, extension developers</li>
</ul></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Example</h2>
      <h3>observe child node insertion/deletions</h3>
    </hgroup>
    <article ><pre class="prettyprint" data-lang="js">
var observer = new <b><a data-tooltip-property="MutationObserver" data-tooltip-support='["unprefixed", "webkit"]' data-tooltip-js>MutationObserver</a></b>(function(mutations, observer) {
  mutations.forEach(function(record) {
    for (var i = 0, node; node = <b>record.addedNodes</b>[i]; i++) {
      console.log(node);
    }
  });
});

<b>observer.observe(el, {</b>
  <b>childList: true,</b>      // include childNode insertion/removals
  //subtree: true,        // observe the subtree root at el
  //characterData: true, // include textContent changes
  //attribute: true      // include changes to attributes within the subtree
<b>});</b>

// observer.disconnect() // Stop observations
</pre></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Mutation Observers vs. Mutation Events</h2>
      <h3></h3>
    </hgroup>
    <article ><p><strong><code>MutationEvent</code></strong></p>
<ul class="build">
<li>Deprecated in <a href="http://www.w3.org/TR/DOM-Level-3-Events/#events-mutationevents">DOM Events spec</a></li>
<li>Adding listeners <a href="http://www.oxymoronical.com/blog/2008/10/How-extensions-can-slow-down-Firefox-my-dirty-little-secret">degrades app performance</a> by 1.5-7x!<ul class="build">
<li>slow because of event propagation and synchronous nature</li>
<li>fire too often: every single change</li>
<li>removing listener(s) doesn't reverse the damage</li>
</ul>
</li>
<li><a href="http://help.dottoro.com/ljfvvdnm.php#additionalEvents">Inconsistencies</a> with browser implementations.</li>
</ul>
<p class="red centered build topmargin" style="font-size:50px;"><span>Don't use Mutation Events!</span></p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Comparison Example</h2>
      <h3>Inserting a DOM node</h3>
    </hgroup>
    <article class="smaller"><pre class="prettyprint" data-lang="js">
// MutationEvent
document.addEventListener('DOMNodeInserted', function(e) {
  console.log(e.target);
}, false);
</pre>

<pre class="prettyprint" data-lang="js">
// MutationObserver
var observer = new <a data-tooltip-property="MutationObserver" data-tooltip-support='["unprefixed", "webkit"]' data-tooltip-js>MutationObserver</a>(function(mutations, observer) {
  mutations.forEach(function(record) {
    for (var i = 0, node; node = <b>record.addedNodes</b>[i]; i++) {
      console.log(node);
    }
  });
}).observe(document, {childList: true});
</pre>

<p class="centered topmargin">
<a href="demos/mutation-summary/examples/shuffle_compare/shuffle.html" class="demo">DEMO</a>
</p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
          <a href="http://wiki.ecmascript.org/doku.php?id=harmony:observe" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2><code>Object.observe()</code></h2>
      <h3>watch changes to JS objects</h3>
    </hgroup>
    <article class="smaller"><p class="centered" style="font-size:25px">
  <span><code>Object.observe</code> : JS objects :: <code>MutationObserver</code> : DOM</span>
</p>

<pre class="prettyprint" data-lang="js">
function observeChanges(changes) {
  console.log('== Callback ==');
  changes.forEach(function(change) {
    console.log('What Changed?', change.name);
    console.log('How did it change?', change.type);
    console.log('What was the old value?', change.oldValue );
    console.log('What is the present value?', change.object[change.name]);
  });
}

var o = {};
<b>Object.observe</b>(o, observeChanges);
// Object.unobserve(o, observeChanges); // Stop watching.
</pre>

<ul class="build">
<li>Get notified when a property is added, deleted, or its value changes.</li>
<li>Get notified when properties are reconfigured (e.g. <code>Object.freeze</code>)</li>
<li>Landing in Chrome Canary. Turn on <strong>Experimental JavaScript APIs</strong> in <code>about:flags</code>.</li>
</ul>
<p>See <a href="http://weblog.bocoup.com/javascript-object-observe/">Bocoup's writeup</a>.</p></article>
 
</slide>

<slide id="obj-observe-binding"  >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Benefit: improved data binding</h2>
      <h3></h3>
    </hgroup>
    <article ><p>The <img src="images/logos/angular.png" style="height:35px;vertical-align: middle;"> <a href="http://angularjs.org">AngularJS</a> team experimented with a prototype build of Chromium:</p>
<p class="fleft">
  <img src="images/angularspeedup.png">
</p>

<p class="fleft build"><span>20-40x faster!</span></p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
          <a href="http://mdv.googlecode.com/git/docs/design_intro.html" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2><img src="images/icons/clock.png" title="Soon" alt="Soon"> End game: Model Driven Views (MDV)</h2>
      <h3></h3>
    </hgroup>
    <article ><pre class="prettyprint" data-lang="html">
&lt;div id="example">
&lt;ul>
  <b>&lt;template iterate>
    &lt;li>{{ name }}
      &lt;ul>&lt;template iterate="skills">&lt;li>...&lt;/li>&lt;/template>&lt;/ul>
    &lt;/li>
  &lt;/template></b>
&lt;/ul>
&lt;/div>
&lt;script>
document.querySelector('#example')<b>.model</b> = [
  {name: 'Sally', skills: ['carpentry']}, 
  {name: 'Helen', skills: ['weaving', 'omnipotence']}
];
&lt;/script>
</pre>

<p>Play with it today: <a href="https://code.google.com/p/mdv/">code.google.com/p/mdv/</a></p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2><img src="images/icons/calendar.png" alt="Today" title="Today"> Templating in <img src="images/logos/angular.png"> AngularJS</h2>
      <h3></h3>
    </hgroup>
    <article class="smaller"><p>A (close-ish) taste of the future:</p>
<pre class="prettyprint" data-lang="html">
&lt;div <b>ng-controller="AppController"</b>>
  &lt;ul>
    &lt;li <b>ng-repeat="person in model"</b>>{{ person.name }}
    &lt;ul>&lt;li <b>ng-repeat="skill in person.skills"</b>>{{skill}}&lt;/li>&lt;/ul>
  &lt;/ul>
&lt;/div>
&lt;script>
function AppController($scope) {
  $scope.model = [{name: 'Sally', skills: ['carpentry']},
                  {name: 'Helen', skills: ['weaving', 'omnipotence']}];
}
&lt;/script>
</pre>

<div ng-app ng-controller="AppController" class="angular-template-example">
<ol>
  <li ng-repeat="person in model">{{ person.name }}
  <ul><li ng-repeat="skill in person.skills">{{skill}}</li></ul>
</ol>
</div>

<script>
function AppController($scope) {
  $scope.model = [
    {name: 'Sally', skills: ['carpentry']},
    {name: 'Helen', skills: ['weaving', 'omnipotence']}
  ];
}
</script></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered"><h2 class="auto-fadein">Observing changes to DOM and JS</h2>

<h3 class="auto-fadein">baked into the web platform...</h3></article>
 
</slide>

<slide  class="nobackground dirty-sexy funnyimage" style="background-image: url(images/animated/dirty-sexy-money.gif)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3>$$$</h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide  class="segue nobackground highlight fill" style="background-image: url(images/bgs/istock-lasanga.jpg)">
  
    <aside class="gdbar"><img src="images/logos/chrome_logo.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Custom Elements</h2>
      <h3>Putting it all together</h3>
    </hgroup>
  
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2><img src="images/icons/calendar.png" alt="Today" title="Today"> Creating a basic tab control (YUI 3)</h2>
      <h3></h3>
    </hgroup>
    <article class="smaller"><div class="columns-2">
<pre class="prettyprint" data-lang="html" class="columns-2">
&lt;div id=&quot;demo&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#foo&quot;&gt;foo&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#bar&quot;&gt;bar&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div&gt;
    &lt;div id=&quot;foo&quot;&gt;&lt;p&gt;foo content&lt;/p&gt;&lt;/div&gt;
    &lt;div id=&quot;bar&quot;&gt;&lt;p&gt;bar content&lt;/p&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
<pre class="prettyprint" data-lang="js">
YUI().use('tabview', function(Y) {
  var tabview = new Y.TabView({srcNode: '#demo'});
  tabview.render();
});
</pre>
<img src="images/screenshots/yui_tab.png">
</div>

<footer class="source"><a href="http://yuilibrary.com/yui/docs/tabview/tabview-basic.html">YUI documentation</a></footer></article>
 
</slide>

<slide id="customels-tab-devtools" class="nobackground" >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>But...there's nothing "basic" about it!</h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered"><p onclick="this.classList.toggle('active')" title="click me" alt="click me"></p></article>
 
</slide>

<slide  class="nobackground highlight fill" style="background-image: url(images/bgs/disaster.jpg)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Insanity!!!</h2>
      <h3></h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Do we have all the pieces to build components?</h2>
      <h3></h3>
    </hgroup>
    <article ><ol class="build">
<li>Templates (<code>&lt;template&gt;</code>)</li>
<li>Shadow DOM (<code>@host</code>, custom pseudo elements, styling hooks)</li>
<li>Mutation Observers, <code>Object.observe()</code></li>
</ol>
<p class="centered build topmargin blue"><span style="font-size:50px;">WE DO :)</span></p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
          <a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/custom/index.html#declaring-custom-elements" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Creating custom elements</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Define a <em>declarative</em> "API" using insertion points:</p>
<pre class="prettyprint" data-lang="x-tabs.html">
<b>&lt;element name="x-tabs"></b>
  &lt;template>
    &lt;style>...&lt;/style>
    &lt;content select="hgroup:first-child">&lt;/content>
  &lt;/template>
<b>&lt;/element></b>
</pre>

<p>Include and use it:</p>
<pre class="prettyprint" data-lang="yourapp.html">
&lt;link <b>rel="components"</b> href="x-tabs.html"&gt;
&lt;x-tabs>
  &lt;hgroup>
    &lt;h2>Title&lt;/h2>
    ...
  &lt;/hgroup>
&lt;/x-tabs>
</pre></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
          <a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/custom/index.html#declaring-custom-elements" target="_blank" class="spec" title="Spec link"></a>
        
      </span>
      <h2>Define an API</h2>
      <h3></h3>
    </hgroup>
    <article class="smaller"><p>Define an <em>imperative</em> API:</p>
<pre class="prettyprint" data-lang="x-tabs.html">
&lt;element name="x-tabs" <b>constructor="TabsController"></b>
  &lt;template>...&lt;/template>
  <b>&lt;script&gt;
    TabsController.prototype = {
      doSomething: function() { ... }
    };
  &lt;/script&gt;</b>
&lt;/element>
</pre>

<p>Declared <code>constructor</code> goes on global scope:</p>
<pre class="prettyprint" data-lang="yourapp.html">
&lt;link rel="components" href="x-tabs.html"&gt;
&lt;script&gt;
<b>var tabs = new TabsController();</b>
tabs.addEventListener('click', function(e) { <b>e.target.doSomething();</b>});
document.body.appendChild(tabs);
&lt;/script&gt;
</pre></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Or, extend existing [custom] elements</h2>
      <h3></h3>
    </hgroup>
    <article ><pre class="prettyprint" data-lang="x-megabutton.html">
&lt;element name="x-megabutton" <b>extends="button"</b> <b>constructor="MegaButton"</b>>
  &lt;template>
    &lt;button>&lt;content>&lt;/content>&lt;/button>
  &lt;/template>
  &lt;script>
    MegaButton.prototype = {
      megaClick: function(e) {
        alert('BOOM!');
      }
    };
  &lt;/script>
&lt;/element>
</pre>

<p>Use it:</p>
<pre class="prettyprint" data-lang="yourapp.html">
&lt;link rel="components" href="x-megabutton.html">
&lt;x-megabutton>Mega button&lt;/x-megabutton>
</pre></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Demo: Mega Button</h2>
      <h3></h3>
    </hgroup>
    <article ><p><link rel="components" href="demos/components/x-megabutton.html"/></p>
<p class="centered">
  <code class="prettyprint">&lt;x-megabutton>Mega button&lt;/x-megabutton></code>
</p>

<p class="centered topmargin">
<!--
Note: <x-megabutton>Better buttonz</x-megabutton> is what the current
webapp mailing list is agreeing on, but the polyfill uses [is="x-megabutton"]
-->
<button is="x-megabutton">Mega button</button>
</p>

<footer class="source">[ <a href="view-source:http://html5-demos.appspot.com/demos/components/x-megabutton.html">view source</a> ]</footer></article>
 
</slide>

<slide id="tab-component-example"  >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Example: tab component</h2>
      <h3></h3>
    </hgroup>
    <article ><div class="columns-2">
<h3>Web Components <img src="images/logos/webcomponents.png"></h3>
<pre class="prettyprint" data-lang="html">
&lt;x-tab&gt;
  &lt;h2&gt;One&lt;/h2&gt;
  &lt;section&gt;
    Code to instantiate this component:
    &lt;pre&gt;&lt;/pre&gt;
  &lt;/section&gt;
  &lt;h2&gt;Two is bigger than three&lt;/h2&gt;
  &lt;section&gt;
    Second panel hotness
  &lt;/section&gt;
&lt;/x-tab&gt;
</pre>

<h3 style="-webkit-column-break-before: always;"><img src="images/logos/angular.png"> AngularJS</h3>
<pre class="prettyprint" data-lang="html">
&lt;tabs ng-app=&quot;tabs&quot;&gt;
  &lt;pane title=&quot;One&quot;&gt;
    Code to instantiate this component:
    &lt;pre&gt;&lt;/pre&gt;
  &lt;/pane&gt;
  &lt;pane title=&quot;Two is bigger than three&quot;&gt;
    Second panel hotness.
  &lt;/pane&gt;
&lt;/tabs&gt;
</pre>
</div>

<p class="centered"><a href="demos/components/tabs/index.html" class="demo">DEMO</a></p></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2></h2>
      <h3></h3>
    </hgroup>
    <article class="flexbox vcenter centered"><h2 class="auto-fadein">Defining / extending HTML elements</h2>

<h3 class="auto-fadein">baked into the web platform...</h3></article>
 
</slide>

<slide  class="nobackground funnyimage" style="background-image: url(images/animated/dog.gif)">
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Love</h2>
      <h3>it!</h3>
    </hgroup>
    <article ><!-- 
#---

title: The Declarative Renaissance
build_lists: true

- Guardrails, not etiquette
- Interoperable widget libraries
- Multiple authors on a page without stepping on one another's toes
- Many use cases fully declarative
- Declarative is faster
- Rise in shared semantics
 --></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Don't forget to enable yourself</h2>
      <h3></h3>
    </hgroup>
    <article ><ol>
<li>Use Chrome Canary</li>
<li>Enable yourself:<ul>
<li><strong>Enable experimental WebKit features</strong> in <code>about:flags</code></li>
<li><strong>Enable experimental JavaScript</strong> in <code>about:flags</code></li>
<li><strong>Enable Show Shadow DOM</strong> in DevTools</li>
</ul>
</li>
</ol>
<p>Polyfills:</p>
<ul>
<li><a href="http://github.com/dglazkov/Web-Components-Polyfill">Web-Components-Polyfill</a></li>
<li>Mozilla's <a href="https://github.com/mozilla/x-tag">x-tags Custom Elements Polyfill</a> (works on all browsers)</li>
<li>MDV - <a href="https://code.google.com/p/mdv/">code.google.com/p/mdv/</a></li>
</ul></article>
 
</slide>

<slide   >
  
    <hgroup>
      <span>
        
        
      </span>
      <h2>Resources</h2>
      <h3></h3>
    </hgroup>
    <article class="smaller"><p>Web Components / Custom Elements</p>
<ul>
<li><a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/explainer/index.html">Web Components Explainer</a> explainer doc</li>
<li><a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/custom/index.html">Custom Elements spec</a></li>
<li>Follow +<a href="https://plus.google.com/103330502635338602217/">Web Components</a> ★ <a href="https://twitter.com/dglazkov">@dglazkov</a> ★ +<a href="https://plus.google.com/111648463906387632236/">Dimitri Glazkov</a></li>
<li><a href="http://lists.w3.org/Archives/Public/public-webapps/">Public WebApps mailing list</a></li>
</ul>
<p>Shadow DOM</p>
<ul>
<li><a href="http://glazkov.com/2011/01/14/what-the-heck-is-shadow-dom/">What the Heck is Shadow DOM?</a></li>
<li><a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html">Shadow DOM spec</a></li>
<li>Conformance test - <a href="http://demo.unipro.ru/shadow/">demo.unipro.ru/shadow/</a></li>
</ul>
<p>Mutation Observers / <code>Object.observe</code></p>
<ul>
<li><a href="http://www.youtube.com/watch?v=eRZ4pO0gVWw">DOM Mutation Observers &amp; The Mutation Summary Library video</a></li>
<li><a href="http://www.youtube.com/watch?v=VO--VXFJnmE">JavaScript Object.observe proposal &amp; ChangeSummary library video</a></li>
<li>Bocoup's <a href="http://weblog.bocoup.com/javascript-object-observe/">JavaScript: Object.observe</a> writeup</li>
<li>Follow +<a href="https://plus.google.com/111386188573471152118/">Rafael Weinstein</a></li>
</ul></article>
 
</slide>


<slide class="thank-you-slide segue nobackground">
  <aside class="gdbar right"><img src="images/google_developers_icon_128.png"></aside>
  <article class="flexbox vleft auto-fadein">
    <h2>&lt;Thank You!&gt;</h2>
    <!-- <p>PRESENTATION LINK</p> -->
  </article>
  <p class="auto-fadein" data-config-contact></p>
</slide>

<!-- <slide class="logoslide dark nobackground">
  <article class="flexbox vcenter">
    <span><img src="images/google_developers_logo_white.png"></span>
  </article>
</slide> -->

<slide class="backdrop"></slide>

</slides>

<script src="js/angular.min.js"></script>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-XXXXXXXX-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>